{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/forbid-prop-types": 0, // Sometimes helpful
    "react/jsx-filename-extension": 0, // All .js please
    "react/no-danger": 0 // Sometimes you need it
  }
}
