@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?58288057');
  src: url('../font/fontello.eot?58288057#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?58288057') format('woff2'),
       url('../font/fontello.woff?58288057') format('woff'),
       url('../font/fontello.ttf?58288057') format('truetype'),
       url('../font/fontello.svg?58288057#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?58288057#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-cog:before { content: '\e800'; } /* '' */
.icon-trash:before { content: '\e801'; } /* '' */
.icon-shuffle:before { content: '\e802'; } /* '' */
.icon-list-add:before { content: '\e803'; } /* '' */
.icon-loop:before { content: '\e804'; } /* '' */
.icon-play:before { content: '\e805'; } /* '' */
.icon-fast-forward:before { content: '\e806'; } /* '' */
.icon-pause:before { content: '\e807'; } /* '' */
.icon-fast-backward:before { content: '\e808'; } /* '' */
.icon-list:before { content: '\e809'; } /* '' */
.icon-key:before { content: '\e80a'; } /* '' */
.icon-mute:before { content: '\e80b'; } /* '' */
.icon-video:before { content: '\e80c'; } /* '' */
.icon-arrows-ccw:before { content: '\e80d'; } /* '' */
.icon-folder:before { content: '\e80e'; } /* '' */
.icon-user:before { content: '\e80f'; } /* '' */
.icon-star:before { content: '\e810'; } /* '' */
.icon-volume:before { content: '\e811'; } /* '' */
.icon-audio:before { content: '\e812'; } /* '' */
.icon-cancel:before { content: '\e813'; } /* '' */
.icon-search:before { content: '\e814'; } /* '' */
.icon-switch:before { content: '\e815'; } /* '' */
.icon-location:before { content: '\e816'; } /* '' */
.icon-plus:before { content: '\e817'; } /* '' */
.icon-check:before { content: '\e818'; } /* '' */
.icon-sort:before { content: '\e819'; } /* '' */
.icon-cloud:before { content: '\e81a'; } /* '' */
.icon-cloud-connect:before { content: '\e81b'; } /* '' */
.icon-pencil:before { content: '\e81c'; } /* '' */
.icon-logout:before { content: '\e81d'; } /* '' */
.icon-login:before { content: '\e81e'; } /* '' */
.icon-loading:before { content: '\e834'; } /* '' */
.icon-upload-cloud:before { content: '\f014'; } /* '' */
.icon-download-cloud:before { content: '\f015'; } /* '' */